*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "STXinwei";
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E8F2D0;
  min-height: 100vh;

}

.container{
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px;
}

.container .card{
  position: relative;
  height: 250px;
  background: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
  border: 2px solid #00382A;
  box-shadow: 2px 2px 5px #00382A;
  border-radius: 10%;
}

.container .card .imgBx{
position:absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background: #E8F2D0;
z-index:1;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transition: 0.5s ease-in-out;
border-radius: 10%;
}

.container .card:hover .imgBx{
  width: 120px;
  height: 120px;
  left: -60px;
  top: calc(50% - 60px);
  transition: 0.5s ease-in-out;
  background: #730217;
  border-radius: 20%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px #730217;
}


.container .card .imgBx img{
  max-width: 150px;
  display: none;
  transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx .poem{
display: none;
}

.container .card:hover .imgBx img{
  max-width: 100px;
  display: block;

}

.container .card .content{
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.container .card .content h3{
  margin-bottom: 5px;
  font-size: 24px;
}

.container .card .content a{
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #00382A;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 992px){
  .container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .container .card{
    width: 400px;
  }
}

@media (max-width: 768px){

  .container .card{
    max-width: 300px;
    flex-direction: column;
    border-radius:0;
    height: auto;
  }
  .container .card .imgBx{
    position: relative;
    border-radius: 0;
  }
  .container .card .imgBx,
  .container .card:hover .imgBx{
    width: 100%;
    height: 120px;
    left:0;
    border-radius: 0;
  }
  .container .card .imgBx img,
  .container .card:hover .imgBx img{
  max-width: 100px;
  }
.container .card .content{
  position: relative;
  width: 100%;
}

}
